/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 26, 27);
    color: #fff;
    font-family: Arial, sans-serif;
}

.profile-container {
    display: flex;
}

.left-section {
    flex: 0 0 50%;
    padding: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
}

.right-section {
    flex: 1;
    padding: 100px;
    margin-left: 50%;
    transition: margin-left 0.5s ease;
}

.projects > .project-item {
    margin-bottom: 50px;
}

.projects > .project-item h2,
.projects > .project-item p,
.projects > .project-item img {
    transition: transform 0.5s ease-out;
    transform: scale(1);
}

.projects > .project-item:hover h2,
.projects > .project-item:hover p,
.projects > .project-item:hover img {
    transform: scale(1.1);
}

a:hover {
    border-bottom-color: white;
    transform: translateX(5px);
}

h1, h2, h3, h4, h5{
    color: #fff;
    margin-bottom: 20px;
    margin-top: 5px;
}

h6 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.blockquote {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    max-width: 500px;
    margin: 30px auto;
    align-self: center;
}

p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

#profile-logo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 5px;
}

.contact-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 8px;
}

.contact-info a i {
    margin-right: 5px;
}

#project-link {
    margin-top: 100px;
}

ul {
    list-style: none;
}

.right-section hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    position: relative;
    margin: 20px 0;
    animation: float 2s linear infinite alternate;
}

.nav-links li {
    margin-bottom: 20px;
}

/* Same size for all projects images */
img {
    max-width: 300px; 
    height: auto; 
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(4%);
    }
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .left-section,
    .right-section {
        width: 100%;
        padding: 50px;
        position: static;
        margin: 0;
    }

    #profile-logo {
        display: none;
    }

    .projects > .project-item {
        margin-bottom: 30px;
    }
}

.dropdown-container {
    margin-bottom: 40px;
}

.toggle-checkbox {
    display: none;
}

.dropdown-header {
    cursor: pointer;
    margin-bottom: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    width: fit-content;
    text-align: center;
}

.dropdown-header > h1, 
.dropdown-header > h6 {
    transition: transform 0.5s ease-out;
    margin: 0;
}

.dropdown-content {
    display: none;
    margin-top: 20px;
}

.toggle-checkbox:checked + .dropdown-header + .dropdown-content {
    display: block;
}

.dropdown-header:hover > h1,
.dropdown-header:hover > h6 {
    transform: scale(1.1);
}

.dropdown-content .project-item {
    transition: transform 0.5s ease-out;
    margin-bottom: 20px;
}

.dropdown-content .project-item:hover {
    transform: scale(1.1);
}

/* Ensure the logo is always visible within this viewport range */
@media screen and (max-width: 1200px) {
    #profile-logo {
        display: block;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .left-section,
    .right-section {
        width: 50%;
    }
}

@media screen and (min-width: 1201px) {
    .profile-container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
